__pycache__/
*.pyc
*.pyo
*.pycd
*.bak
*.log
*.xapk
en_saheeh_api.json
saheeh.json
sahih_en.json
quran_ar.json
quran_tgrigna_v1.json
cat
ls
run-1.py
Download/
Ref/
amharic_xapk/
app/
backups/
data/
file to insert/
import/